html {
font-family: 'Faster One', cursive;
font-family: 'League Gothic', sans-serif;
font-family: 'Racing Sans One', cursive;
font-family: 'Contrail One', cursive;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #b9ddfb;
  color: rgb(74, 74, 74);
  margin: 0;
}

